/* Variables */
:root {
  --primary-color: #ff9900;
  --secondary-color: #333333;
  --accent-color: #00ffff;
  --font-family: "Roboto", sans-serif;
  --font-family-retro: "Press Start 2P", cursive;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header__logo {
  width: 100px;
}

.header__nav {
  display: flex;
}

.header__nav-item {
  margin-left: 20px;
}

.header__nav-link {
  font-family: var(--font-family-retro);
  font-size: 20px;
}

.header__nav-link:hover {
  color: var(--accent-color);
}

/* Main */
.main {
  max-width: 1200px;
  margin: auto;
}

.main__title {
  text-align: center;
}

.main__subtitle {
  text-align: center;
}

.main__content {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, auto));
  gap: 20px;
}

.main__card {
   perspective :1000px; 
   transform-style :preserve-3d; 
   transition :transform .5s; 
   border-radius :10px; 
   box-shadow :rgba(0,0,0,.1) -5px -5px, rgba(0,0,0,.1) -10px -10px, rgba(0,0,0,.1) -15px -15px; 
}

.main__card:hover {
   transform :rotateY(180deg); 
}

.main__card-image {
   width :100%; 
   backface-visibility :hidden; 
   border-radius :10px; 
   filter :grayscale(100%); 
}

.main__card-title {
   padding-top :10px; 
   padding-left :10px; 
   font-weight :bold; 
   font-size :20px; 
   color :var(--secondary-color); 
   backface-visibility :hidden; 
}

.main__card-text {
   padding :10px; 
   color :var(--secondary-color); 
   font-size :16px; 
   line-height :1.5; 
   backface-visibility :hidden; 
}

.main__card-button {
   display :block; 
   width :100%; 
   padding :10px; 
   border :none; 
   border-radius :10px; 
   background-color :var(--accent-color); 
   color :var(--primary-color); 
   font-weight :bold; 
   cursor :pointer; 
   backface-visibility :hidden; 
}

.main__card-button:hover {
   opacity :0.8; 
}
